@keyframes bcolor {
    0% {
        background: linear-gradient(0deg, #AD9A56, #2C3E50);
    }

    5% {
        background: linear-gradient(30deg, #AD9A56, #2C3E50);
    }

    10% {
        background: linear-gradient(46.5deg, #AD9A56, #2C3E50);
    }

    15% {
        background: linear-gradient(63deg, #AD9A56, #2C3E50);
    }

    20% {
        background: linear-gradient(79.5deg, #AD9A56, #2C3E50);
    }

    25% {
        background: linear-gradient(96deg, #AD9A56, #2C3E50);
    }

    30% {
        background: linear-gradient(112.5deg, #AD9A56, #2C3E50);
    }

    35% {
        background: linear-gradient(129deg, #AD9A56, #2C3E50);
    }

    40% {
        background: linear-gradient(145.5deg, #AD9A56, #2C3E50);
    }

    45% {
        background: linear-gradient(162deg, #AD9A56, #2C3E50);
    }

    50% {
        background: linear-gradient(178.5deg, #AD9A56, #2C3E50);
    }

    55% {
        background: linear-gradient(195deg, #AD9A56, #2C3E50);
    }

    60% {
        background: linear-gradient(211.5deg, #AD9A56, #2C3E50);
    }

    65% {
        background: linear-gradient(228deg, #AD9A56, #2C3E50);
    }

    70% {
        background: linear-gradient(244.5deg, #AD9A56, #2C3E50);
    }

    75% {
        background: linear-gradient(261deg, #AD9A56, #2C3E50);
    }

    80% {
        background: linear-gradient(277.5deg, #AD9A56, #2C3E50);
    }

    85% {
        background: linear-gradient(294deg, #AD9A56, #2C3E50);
    }

    90% {
        background: linear-gradient(310.5deg, #AD9A56, #2C3E50);
    }

    95% {
        background: linear-gradient(327deg, #AD9A56, #2C3E50);
    }

    100% {
        background: linear-gradient(343.5deg, #AD9A56, #2C3E50);
    }
}
body {
  font-family: 'Noto sans';
  color: white;
  text-align: center;
  animation-duration: 1.5s;
  animation-name: bcolor;
  animation-iteration-count: infinite;
}
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  border-radius: 5px;
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 5px;
}