body {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  animation-duration: 1.5s;
}
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  border-radius: 5px;
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 5px;
}
#imageHeader {
  
}